.price {
  padding: 80px 0px 90px 0px;
  width: 100%;
  background: #dbd6d6;
}
.price__title::after {
  margin: 35px;
}
.price__title {
  margin-bottom: 70px;
}
.price-card {
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 65px;
}
.price-card__list-item {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  width: 350px;
  margin-bottom: 2px;
  background-color: #fffefe;
  text-align: center;
  line-height: 40px;
  color: #7a7b80;
}
.category {
  font-size: 20px;
  font-weight: 700px;
  background-color: #313030;
  line-height: 50px;
  color: #fdf4f4;
}
.cost {
  font-size: 35px;
  font-weight: 700px;
  font-family: 'Raleway', sans-serif;
  background-color: #302d2d;
  line-height: 100px;
  color: #f8e9e9;
}
.free {
  font-weight: 600px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #333333;
  line-height: 50px;
}
.free:hover {
  font-weight: 800px;
  background-color: #dd8131;
}
