.awesome {
  padding: 100px 0px 110px 0px;
  width: 100%;
}
.awesome__title::after {
  top: 25px;
}
.awesome__title {
  margin-bottom: 57px;
}
.awesome__row {
  margin: 67px -15px 0px -15px;
  flex-wrap: wrap;
}
.awesome-card__img-border {
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0px auto 30px;
}
.awesome-card {
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
}
/*.awesome-card__img {
  margin: 20px auto;
  display: block;
}*/
.fa-lightbulb {
  font-size: 35px;
  color: #d98943;
  margin: 18px 22px;
}
.fa-keyboard {
  font-size: 33px;
  color: #d98943;
  margin: 18px 16px;
}
.fa-bolt {
  font-size: 33px;
  color: #d98943;
  margin: 19px 25px;
}
.awesome-text {
  text-align: center;
}
