.axure {
  padding: 58px 0px 38px 0px;
  width: 100%;
  background: url('../img/bg/axure-bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.axure::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.axure__title {
  color: #ffffff !important;
  margin-bottom: 70px;
}
.axure__title::after {
  top: 34px;
  background-color: #ffffff !important;
}
.axure__text-description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 57px;
  text-align: center;
}
.button {
  display: block;
  width: 135px;
  border: 1px solid #ffffff;
  background: none;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 42px;
  transition-duration: 0.5s;
}
.button:hover {
  background-color: #ec7979;
  transform: scale(1.2);
  transition-duration: 0.5s;
  cursor: pointer;
}
