.axure {
    padding: 58px 0 38px 0;
    width: 100%;
    background: url(../img/bg/bg_axure.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.axure::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .55);
    position: absolute;
    top: 0;
    left: 0;
}

.white__title{
    color: #FFFFFF;

}
.axure__title::after {
    margin-top: 34px;
    background-color: #ffffff;
}

.axure__descr {
    margin-top: 34px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}
.btn-view__link{
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 135px;
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 3px 20px transparant ;
    transition: all;
}
.axure__link{
    margin-top: 57px;
}

/* .btn-view__link:hover{
    transform: scale(1.1);
    
} */

.btn-view__link:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 20px 10px  rgba(75, 69, 69, 0.8);
    opacity: 0.8;
}




