.customers {
    padding: 80px 0 119px 0;
}

.customer__title::after {
    margin-top: 34x;
}
.customers__descr {
    margin-top: 34px;
}
.customers__row {
    margin: 0 -15px;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.customers-item {
    width: 300px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
}

.customers-item__text {
    padding:  9px 22px 6px 23px;
    background-color: #E2E2E2;
    border-radius: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #86878B;
    position: relative; 
    flex-grow:0;
}
.customers-item__text::after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid #E2E2E2;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    position: absolute;
    left: 45px;
    top: 100%;
}

.customers-item__owner {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow:1;
}
.owner-img {
    width: 70px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    overflow: hidden;
}
.owner-img img{
    width: auto;
    height: 100%;
}
.owner-info {
    width: 97px;
    font-family: Open Sans;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.owner-info__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.owner-info__position {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #737375;
}