.footer {
    padding: 30px 0 15px 0;
    background-color: #000000;
}

.footer-contact {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-style: 25px;
}
.footer-contact__item {
    font-size: 25px;
}

.footer__copyright {
    margin-top: 18px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff6c;
}