.social {
    padding: 14px 0 17px 0;
    background-color: #F8EFEF;
}
.social__row{   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.social__info {
    width: 350px;
}
.social__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    color: #333333;
}
.social__descr {
    margin-top: 14px;
    color: #747577;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.social__contact {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.social-contact__item {
    font-size: 42px;
}

.fab, .fas{
    color: #a1a1a1;
}
.fa-facebook-f:hover{
    color: #2f00ff46;
    /* animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    animation: pulse 1s infinite;
}

.leaf:nth-child(odd) {
    left: 100%;
    transform-origin: 0% 100%;
    animation-name: leaf-odd-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.fa-twitter:hover{
    color: #1DA1F2;
    transform-origin: 0 100%;
    animation: flying 2s infinite;
}  

.fa-google-plus-g:hover{
    transform-origin: 80% 80%;
    color: #d94f25;
    /* transform:scale(1.5);
    transition: 0.5s all ease; */
    
    animation: rotate 2s infinite;

}

.fa-pinterest:hover{
    color:#E60023;
    animation: pulse 2s infinite;
}

.fa-instagram-square:hover{
    transform: scale(1.5);
    color: #f0188f;
    transition: 0.5s all ease;
   
}
.fa-stumbleupon:hover{
    color: #EC461E;
    animation: jumping 2s infinite;
    
}
.fa-rss:hover{
    color: #f28f1d;
    transform: rotate(-45deg) translateY(-10px);
    transition: 0.5s all;

}





