@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/awesome.css");
@import url("../css/price.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("../css/animation.css");
@import url("../css/footer.css");
@import url("../css/first-screen.css");
@import url("../css/form.css");



*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* box-sizing: border-box; */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
