.awesome {
  padding: 100px 0 109px 0;
  width: 100%;
}
.awesome__title::after {
  top: 25px;
}
.awesome__title {
  margin-bottom: 55px;
}

.awesome-card__img-border {
  border: 1px solid #da8338;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto 30px;
}
.awesome-card {
  width: 350px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 65px;
}
.awesome-card__img {
  margin: 20px auto;
  display: block;
}
