@import url('../css/awesome.css');
@import url('../css/price.css');
@import url('../css/customers.css');
@import url('../css/axure.css');

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}
.title {
  font-size: 35px;
  color: #0f0f0f;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.title::after {
  content: '';
  position: relative;
  width: 65px;
  height: 2px;
  background-color: #e78631;
  margin: 0 auto;
  display: block;
}
.subtitle {
  font-size: 20px;
  color: #3a3636;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
p {
  font-size: 15px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.text {
  color: #6b6b6d;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 -15px;
  flex-wrap: wrap;
}
